# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
APPS_WSN_DEMO_C\APPS_WSN_DEMO_C\Debug
APPS_WSN_DEMO_C\APPS_WSN_DEMO_C\Release

APPS_WSN_DEMO_ED\APPS_WSN_DEMO_ED\Debug
APPS_WSN_DEMO_ED\APPS_WSN_DEMO_ED\Release

APPS_WSN_DEMO_R\APPS_WSN_DEMO_R\Debug
APPS_WSN_DEMO_R\APPS_WSN_DEMO_R\Release

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
